*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Ysabeau', sans-serif;
}

hr {
    width: 30vw;
    height: 2px;
    background-color: rgba(238, 130, 238, 8);
    border: 0;
    margin: 0 auto;
}

h2 {
    font-size: 2em;
    text-decoration: underline;
    letter-spacing: 2px;
    margin: 0 0 20px 0;
    
    
    text-align: center;

}

/* *****************************
NAVIGATION
***************************** */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    position: fixed;
    background-image: linear-gradient(rgba(251, 111, 146, 0.5), rgba(255, 192, 203,0.5), rgba(238, 130, 238,0.5));
    align-items: center;
    padding: 0 15px;
    z-index: 10;
    backdrop-filter: blur(5px);
    
}

#logo{
    font-size: 40px;
    text-decoration: none;
    font-weight: 700;
    font-style: italic;
    color: white;
    text-shadow: 1px 2px black;
    margin: 0;
}

@media screen and (max-width: 450px){
    #logo{
        font-size: 30px;
    }
}

nav {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.4em;
    padding: 20px;
}

nav>a:hover {
    height: 100%;
    background-image: linear-gradient(rgba(251, 111, 146, 0.5), rgba(255, 192, 203, 0.5), rgba(238, 130, 238, 0.5));
    text-decoration: none;
    cursor: pointer;
    color: white;
    transition: 0.1s;
    
}

#CV-img {
    width: 70px;
    height: 50px;
    border-radius: 25px;
    padding: 0;
    margin: 0;

}

#menu-icon{
    display: none;
}

@media screen and (max-width: 990px) {
    a {   
            padding: 12px;
        }
}

@media screen and (max-width: 900px) {
    #menu-icon {
        display: initial;
        color: whitesmoke;
        font-size: 4em; 
    }
    
    #header{
        justify-content: space-between;
        
    }
    nav>a {
            display: none;
        }

    nav>a:not(:last-child) {
                    font-size: 1.5em;
        }


}

/* *****************************
HERO
***************************** */

#hero{
    min-height: 100vh;
    background-color: #FAF9F6;  
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-image: linear-gradient(rgba(238, 130, 238, 0.3), rgba(255, 192, 203, 0.1), rgba(238, 130, 238, 0.2));
}

#text{
    font-size: 6em;
}

#stack{
    font-size: 2em;
}

.console-underscore {
    display: inline-block;
    position: relative;
    top: -0.2em;
    font-size: 3.5em;
    animation: animate 0.5s linear infinite;

}

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}

#bitmoji {
    height: 70vh;
}

#hero-main-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vw;
    margin-top: 30px;
}

#logo-container{
    display: flex;
    flex-direction: row;
    gap: 1.5em;  
    height: 8vh;
    margin-bottom: 30px;
}

i{
    font-size: 3em;
}

.icon-text{
    display: none;
}

.hero-icon{
    color: #ec78e3;

}

.hero-icon:hover {
    transition: 0.7s;
    font-size: 3.5em;
}


.fa-envelope:hover{
    color: red;
    
}

.fa-linkedin:hover{
    color: #0e76a8;
}

.fa-square-github:hover{
    color: black;
}

@media screen and (max-width:800px){
    #bitmoji{
        display: none;
    }

    #hero{
     min-height: 60vh;
    }

        #hero-main-container {
            width: 100%;
            justify-content: center;
            align-items: center;
            padding-left: 0vw;
           
        }

        .hero-icon{
            padding-top: 5vh;
        }

        #text{
            font-size: 4em;
        }
        #stack{
            font-size: 2em;
        }
        ##hero-main-container{
            padding-left: 0;
        }
}

/* *****************************
ABOUT
***************************** */



#about{
    font-size: 1.3em;
    padding-bottom: 30px;
    
}

#about p {
    width: 80vw;
    margin: 0 auto;
    font-size: 0.9em;
}

#SOC {
    color: gray;
    font-style: italic;
    text-decoration: underline;
    font-size: 0.9em;
    padding: 0;
}

#small-bitmoji{
    display: none;
}



@media screen and (max-width: 800px) {
    

    #small-bitmoji {
        display: initial;
        width: 30vh;
        margin-bottom: 2vh;

    }

    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
       

    }
}

/* *****************************
TECHSTACK
***************************** */

#tech-stack{
    background-image: linear-gradient(rgba(238, 130, 238, 0.3), rgba(255, 192, 203, 0.1), rgba(238, 130, 238, 0.2));
    padding-bottom: 30px;
}

.cards{ 
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px 15px;
    background-color: white;
}

.cards img{
    max-width: 70px;
    padding: 0 5px;
    
    
}

#tech-stack-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 80vw;
    margin: 0 auto;
    justify-content: center;
}

/* *****************************
CAROUSEL 
***************************** */
#proj-heading{
    margin-bottom: 0;
    padding-bottom: 0;
}

.carousel {
    display: block;
    overflow-x: hidden;
    }

    .carousel>input {
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
       
    
    }

.carousel>input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {margin-left: -375%;}
.carousel>input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -275%; }
.carousel>input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -170%; }
.carousel>input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -70%; }
.carousel>input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: 27%; }

.carousel>input:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) { box-shadow: 0px 0px 0px 5px violet; }
.carousel>input:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) { box-shadow: 0px 0px 0px 5px violet; }
.carousel>input:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) { box-shadow: 0px 0px 0px 5px violet; }
.carousel>input:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) { box-shadow: 0px 0px 0px 5px violet; }
.carousel>input:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) { box-shadow: 0px 0px 0px 5px violet; }

@media screen and (max-width: 680px){
.carousel>input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -180%; }
.carousel>input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -80%; }
.carousel>input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: 21%; }
}

@media screen and (max-width: 615px){
.carousel>input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {margin-left: -382%;}
.carousel>input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -280%; }
.carousel>input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -185%; }
.carousel>input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -85%; }
.carousel>input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: 15%; }


#gem-container {
    margin-right: 340px;
}
}

@media screen and (max-width: 540px){

}




 #MyPortfolio-container,
 #codecademy-container {
     display: flex;
     flex-direction: column;
     width: 50vw;
     text-align: center;
     align-items: center;
 }

 #MyPortfolio-description,
 #TeaCozy-description {
     width: 730px;
 }

    #cinemate, #gem, #dictionary, #portfolio, #tea{
        height: 60vh;
    }

        #cinemate-pic, #dictionary-pic, #gem-pic{
            height: 60vh;
            
        }
    
    #cinemate-container, #gem-container, #dictionary-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 50vw; 
        gap: 20px;  
    }

    #cinemate-description, #gem-description, #dictionary-description, {
        max-width: 480px; 
      
    }

    h5{
    font-size: 1.8em;
    margin-bottom: 10px;
    }

    button {
            height: 2em;
            width: 5em;
            border-radius: 15px;
            
        }

        .buttons{
            display: flex;
            flex-direction: row;
            justify-content: center;
            
            margin-top: -20px;
            
            
        }
    
        .live {
            background-color: violet;
        }
    
        .live:hover, .code:hover {
            box-shadow: 0px 0px 20px pink;
        }
    
        .live:active, .code:active {
            box-shadow: 0px 0px 20px black;
        }
    
        .code {
            background-color: black;
            color: white;
        }
    
        .stack-labels {
               display: flex;
               flex-wrap: wrap;
               justify-content: center;
               gap: 3px;
               margin: 10px 0;
           }
    
        .stack-labels>p {
               border: 1px dotted black;
               padding: 0.1em;
               background-color: rgb(231, 231, 231);
               font-style: italic;
               font-size: 95%;
        }

        #MyPortfolio, #TeaCozy{
                       width: 700px;
                       height: auto;
                       border: none;
                       border-radius: 0;
             
        }

       

        

@media screen and (max-width:900px) {

        ul.carousel__thumbnails{
            width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin-top: -40px;
        }

        #cinemate, #gem, #dictionary, #portfolio, #tea {
            height: 60vh;
        }


        #cinemate-pic, #dictionary-pic, #gem-pic{
            height: 50vh;
            padding-top: 0px;
            padding-bottom: 0px;
            
            
        }

        #MyPortfolio, #TeaCozy{
            width: 550px;
        }

        #MyPortfolio-description, #TeaCozy-description {
            width: 570px;
        }


}
 
@media screen and (max-width:600px){
    #MyPortfolio, #TeaCozy {
        width: 450px;
    }

    #MyPortfolio-description, #TeaCozy-description {
            width: 500px;
    }

    .carousel>input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {margin-left: -385%;}
    .carousel>input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -285%; }
}

@media screen and (max-width:550px) {
    .carousel>input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {margin-left: -388%;}
    .carousel>input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -290%; }

}

@media screen and (max-width:530px) {

    #MyPortfolio,
    #TeaCozy {
        width: 310px;
    }

    #MyPortfolio-description, #TeaCozy-description {
            width: 300px;
    }
}

@media screen and (max-width:500px) {
    .carousel>input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {margin-left: -395%;}
    .carousel>input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -295%; }
    .carousel>input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -192%; }
    .carousel>input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -92%; }
    .carousel>input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: 8%; }
  
}


@media screen and (max-width:470px) {
 .carousel>input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {margin-left: -400%;}
.carousel>input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -300%; }  
.carousel>input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -192%; }
.carousel>input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -92%; }
.carousel>input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: 8%; } 

#cinemate-pic, #dictionary-pic, #gem-pic{
            height: 40vh;
             
        }
                #cinemate,
                #gem,
                #dictionary,
                #portfolio,
                #tea {
                    height: 50vh;
        
                }


}

@media screen and (max-width:430px){
.carousel>input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {margin-left: -408%;}
.carousel>input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -309%; }  
 

}

@media screen and (max-width:380px) {
.carousel>input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {margin-left: -415%;}
.carousel>input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -315%; }  
.carousel>input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -192%; }
.carousel>input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -92%; }
.carousel>input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: 8%; } 

#cinemate-pic, #dictionary-pic, #gem-pic{
            height: 30vh;  
        }
}

@media screen and (max-width:360px) {
.carousel>input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {margin-left: -425%;}
.carousel>input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -325%; }  
.carousel>input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -195%; }
.carousel>input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -98%; }
.carousel>input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: 3%; } 


 #cinemate-container,
 #gem-container,
 #dictionary-container {
  
     gap: 5px;
 }
}

@media screen and (max-width:360px) {
.carousel>input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {margin-left: -428%;}
.carousel>input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -328%; }  
}

.carousel__slides {
    position: relative;
   
    margin: 0 0 50px 0;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: ;

}

.carousel__slide {
    position: relative;
    display: block;
    flex: 1 0 100%;

    transition: all 300ms ease-out;
    white-space: normal;

}

label .slide-nav-pic {
    text-align: center;
}

.slide-nav-pic {
    width: 150px;
    margin: 0 5px;

}

.carousel__thumbnails {
    list-style: none;
    padding: 10px 10px;
    width: 45vw;
    display: flex;
    justify-content: space-evenly;
    margin: 70px auto;

    li {
        flex: 1 1 auto;
        max-width: calc((100% / 6) - 20px);
        margin: 0 10px;
        transition: all 300ms ease-in-out;
    }

    ul {
        @include aspect-ratio(1, 1);
    }


}

@media screen and (max-width:750px) {}

   /*      @media(max-width:750px){
            .carousel__slides {
                   padding-left: 0;
            
            }

            #MyPortfolio-container {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            margin-top: 30vh;
                            text-align: center;
            
            }

                               
        } */
      
        .hover {
            position: relative;
            height: auto;
            width: auto;
            
        }

    .img__description {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(rgba(128, 128, 128, 0.9), rgb(128, 128, 128), rgba(128, 128, 128, 0.9));
        color: #fff;
        visibility: hidden;
        opacity: 0;
        border-radius: 50px;
        /* transition effect. not necessary */
        transition: opacity .2s, visibility .2s;
        text-align: center;
        padding: 50px;
        font-weight: bold;
}

.hover:hover .img__description {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}


      

#visitGH {
                                     text-align: center;
                                     margin-top: 0.8em;
                                     font-style: italic;
}
#GH{
    font-size: 1em;
    padding: 0;
    
}
#GH:hover{
    color: #ec78e3;
}
    


#contact{
    max-width: 600px;
    margin: 10vh auto;
    text-align: center;
    border: 5px dotted pink;
    border-radius: 20px;
    padding: 0 20px 30px 20px;
    
}


footer {
    text-align: center;
    font-weight: bold;
    height: 5vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);

    
}

footer>p {
    color: white;

}

/* .responsive{
    display: block;
} */



/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(rgba(251, 111, 146, 0.5), rgba(255, 192, 203, 0.5), rgba(238, 130, 238, 0.5));
   
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: red;
}